<div class="index-wrapper">
    <div class="row">
        <div class="column">
            <h1>First, log in to spotify</h1>
        </div>
    </div>

    <div class="row">
        <div class="column">
            @Html.ActionLink("Login", "Login", "Authentication", null, new { @class = "button" })
        </div>
    </div>
</div>