@charset 'utf-8';
@import 'foundation';

@include foundation-everything;

body {
    background: #67B26F;
    background: -webkit-linear-gradient(#43cea2 , #185a9d);
    background: linear-gradient(#43cea2 , #185a9d);
    background-attachment: fixed;
}

.top-bar {
    background-color: #FFFFFF;
}

.top-bar ul {
    background-color: #43cea2;
}

.top-bar ul a {
    color: #FFF;
}

.thumbnail__artist-name {
    margin-bottom: 0px;
    font-weight: bold;
}

.thumbnail__artist-genres {
    font-size: smaller;
    font-style: italic;
}
