<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SR Hackday</title>
    <link href="~/Content/css/app.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">MTBRD</li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Content/js/app.min.js"></script>
</body>
</html>